.DiscountInfoHeader {
  padding-top: 20px;

  h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: left;
    color: #1A1A1A;
    margin-bottom: 14px;
  }

  p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 22px;
    span {
      margin-left: 10px;
    }
  }
}

.DiscountInfoMain {
  background-color: #F8F8F8;
  padding: 24px 0;

  .DiscountInfoContainer {
    display: flex;
    .DiscountInfoMainLeft{
      background-color: #fff;
      padding: 16px;
      border-radius: 8px;
      box-shadow: 0px 0px 45px 0px #0000000D;
      img{
        border-radius: 8px;
        margin-bottom: 24px;
      }
      p{
        //styleName: Body text/Default;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #323232;
      }
      .DiscountInfoMainLeftContacts{
        background-color: #F9F9F9;
        border-radius: 8px;
        padding: 16px 24px;
        margin-bottom: 16px;
        p{
          //styleName: Body text/Default;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #323232;
          span{
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0px;
            text-align: left;
          }
        }
      }
      .DiscountInfoMainLeftButtons{
        display: flex;
        justify-content: space-between;
        button{
          padding: 15px 0;
          font-family: Inter;
          font-size: 16px;
          font-weight: 500;
          line-height: 18px;
          letter-spacing: 0px;
          text-align: left;
          color: #00040A;
          background-color: #F2F2F3;
          border: 0;
          border-radius: 8px;
          margin-right: 16px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 200ms ease-out;
          &:hover{
            background-color: #EFEFEF;
          }
        }
        a{
          padding: 15px 0;
          font-family: Inter;
          font-size: 16px;
          font-weight: 500;
          line-height: 18px;
          letter-spacing: 0px;
          text-align: left;
          color: #fff;
          background-color: #C32C31;
          border: 0;
          border-radius: 8px;
          margin-right: 16px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: 200ms ease-out;
          &:hover{
            background-color: #B5272B;
          }
        }
      }
    }

    .DiscountInfoMainRight{
      padding-left: 24px;
    }
  }
}