@import "styles/unit.scss";

.reviews {
  padding: rem(40) 0;
  display: flex;
  align-items: flex-start;
  gap: rem(60);
  color: var(--text-color);

  h4 {
    font-size: 28px;
    line-height: 35px;
    display: flex;
    align-items: center;
  }

  &__cards {
    width: 100%;
    margin-top: rem(60);
  }
  &__single {
    @include align-items-center;
    gap: rem(12);

    h6 {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
    }

    h2 {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #198754;
    }
  }
}
