@import "styles/unit.scss";

.card {
  padding: 16px 32px;
  background: #ffffff;
  border: 1px solid #e7f1ff;
  border-radius: 10px;
  @include direction-column;
  gap: rem(16);
  text-align: start;
  cursor: pointer;
  height: rem(282.5);

  h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #959dc7;
    width: 100%;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    min-height: rem(54.76);
  }
}
