.DoctorsInfo {
  padding: 40px 0;

  .DoctorsInfoTop {
    display: flex;

    .DoctorsInfoTop_Left {
      background-color: #F2F2F3;
      border-radius: 6px;
      margin-right: 32px;
    }

    .DoctorsInfoTop_Mid {
      h4 {
        font-family: Inter;
        font-size: 24px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #00040A;
        margin-bottom: 12px;
      }

      span {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        color: #00040A;
      }

      ul {
        list-style: none;
        padding: 0;
        margin-top: 24px;

        li {
          font-family: Inter;
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0em;
          text-align: left;
          color: #00040A;
          margin-bottom: 26px;

          svg {
            fill: #C32C31;
            margin-right: 15px;
          }
        }
      }

      a {
        border-radius: 8px;
        padding: 12px 16px;
        background-color: #C32C31;
        color: #fff;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        transition: 200ms ease-out;

        &:hover {
          background-color: #B5272B;
        }
      }
    }
  }

  .DoctorsInfoTop_Right {
    display: flex;
    flex-direction: column;

    .DoctorsInfoTop_RightItem {
      margin-left: 24px;
      background-color: #F9F9F9;
      margin-bottom: 24px;
      padding: 32px 24px;
      border-radius: 8px;

      span {
        font-family: Inter;
        font-size: 32px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color: #C32C31;
        display: block;
        margin-bottom: 8px;
      }

      p {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #00040A;
        margin: 0;
      }
    }
  }
}

.globalHeader {
  position: unset !important;
}

.ServiceInfoMain {
  border: 1px solid #00000012;
  position: sticky;
  top: 0px;
  z-index: 5;

  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .navlink {
    padding: 15px 12px !important;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: #00040A !important;
    transition: 200ms;

    &:hover {
      color: #C32C31 !important;
    }
  }
}

.ServiceInfoMainItems {
  padding: 40px 0 0 0;
  background-color: #F9F9F9;

  h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #00040A;
    margin-bottom: 24px;
  }

  .ServiceInfoGeneral {
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;

    p {
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #323232;
    }
  }
}

.ServiceInfoMainSpecialists {
  background-color: #F9F9F9;
  padding: 64px 0;

  .ServiceInfoMainSpecialistsTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    h3 {
      font-family: Inter;
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #00040A;
    }

    a {
      //styleName: Title/Default 2;
      font-family: Inter;
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
      color: #00040A;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 200ms ease-out;

      svg {
        height: 14px;
      }

      &:hover {
        color: #C32C31;
      }
    }
  }
}

.MainSpecialistsItems {
  display: flex;
  justify-content: space-between;

  .MainSpecialistsItem {
    background-color: #FFFFFF;
    border-radius: 8px;
    width: 100%;
    transition: 150ms ease-out;

    .MainSpecialistsItemInfo {
      padding: 16px;
      border-radius: 8px;
      transition: 150ms ease-out;
    }

    &:hover .MainSpecialistsItemInfo {
      background-color: #B5272B !important;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    &:hover p:first-child {
      color: #fff !important;
    }

    &:hover p:nth-child(2) {
      color: #fff !important;
    }

    &:hover p:nth-child(3) {
      color: #fff !important;
    }

    &:hover {
      background-color: #EFEFEF;
    }

    img {
      width: 100%;
    }

    p:first-child {
      font-size: 16px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
      color: #00040A;
      margin: 0;
    }

    p:nth-child(2) {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #323232;
      margin: 8px 0;
    }

    p:nth-child(3) {
      font-size: 16px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
      color: #323232;
      margin: 0;
    }
  }

  .MainSpecialistsItem:nth-child(1), .MainSpecialistsItem:nth-child(2), .MainSpecialistsItem:nth-child(3) {
    margin-right: 24px;
  }
}

.ServiceInfoMainPrice {
  background-color: #F9F9F9;
  padding: 40px 0;

  h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #00040A;
    margin-bottom: 24px;
  }

  .ServiceInfoMainPriceItems {
    border-radius: 8px;
    background-color: #fff;

    .ServiceInfoMainPriceItem {
      padding: 28px 16px;
      border-bottom: 1px solid #EDEDED;
      display: flex;
      justify-content: space-between;

      &:last-child {
        border-bottom: none;
      }

      h5 {
        font-family: Inter;
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #00040A;
        margin-bottom: 0;
      }

      p {
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #00040A;
        margin-bottom: 0;
      }
    }
  }
}

.DoctorsInfoMobile {
  display: none;
  margin-top: 16px;
  .DoctorsInfoTop {
    .DoctorsInfoTop_Left{
      background-color: #F2F2F3;
      border-radius: 5px;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 100%;
      }
    }
  }

  .DoctorsInfoInfo{
    h5{
      font-family: Inter;
      font-size: 18px;
      font-weight: 500;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      color: #00040A;
      margin: 0;
    }
    p{
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
      color: #66686C;
      margin: 6px 0;
    }
    span{
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
      color: #66686c;
    }
  }

  .Doctorsinfopokml{
    ul {
      list-style: none;
      padding: 0;
      margin-top: 24px;

      li {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #00040A;
        margin-bottom: 20px;

        svg {
          fill: #C32C31;
          margin-right: 15px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .DoctorsInfoMobile {
    display: block;
  }
  .DoctorsInfo {
    display: none;
  }
  .ServiceInfoMainItems{
    padding-top: 24px;
    h3{
      font-size: 16px !important;
      font-weight: 600 !important;
      line-height: 20px !important;
      margin-bottom: 12px;
    }
  }
}