.NewsInfoMain {
  background-color: #F9F9F9;
  padding: 24px 0;
  .NewsInfo {
    display: flex;
    background: #fff !important;
    border-radius: 8px;
    overflow: hidden;
  }
  .NewsInfoLeft{
    padding: 24px 12px 24px 24px;

    img {
      width: 100%;
      border-radius: 8px;
    }
  }

  .NewsInfoRight{
    background: #fff;
    padding: 24px 24px 24px 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4{
      font-family: Inter;
      font-size: 24px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      color: #00040A;
      margin-bottom: 14px;
    }
    .NewsInfoRightDate{
      display: flex;
      align-items: center;
      margin-bottom: 18px;
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      color: #323232;
      svg{
        margin-right: 10px;
      }
    }
    .NewsInfoRightText{
      font-family: Inter;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #00040A;
    }
    .NewsInfoRightSocial{
      display: flex;
      align-items: center;
      p{
        font-family: Inter;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        color: #00040A;
        margin-right: 16px;
        margin-bottom: 0;
      }
      a{
        margin-right: 16px;
      }
    }
  }
}

.MainNewsHeader {
  padding-top: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  h3{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #00040A;
  }
  .MainNewsAll {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;

    svg {
      font-size: 16px;
      margin-left: 4px;
    }

    &:hover {
      color: #C32C31;
    }
  }
}

.MainNewsItems{
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .MainNewsItem{
    background-color: #F9F9F9;
    border-radius: 8px;
    overflow: hidden;
    img{
      width: 100%;
      border-radius: 8px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    p:nth-child(1){
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
      color: #00040A;
      margin-bottom: 8px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    p:nth-child(2){
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color: #66686C;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 40px;
      p{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #66686C;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: 40px;
        span{
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
          color: #66686C;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          max-height: 40px;
        }
      }
    }
    a{
      padding: 12px;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
      color: #00040A;
      background-color: #F2F2F3;
      box-shadow: 0px 0px 45px 0px #0000000D;
      border-radius: 8px;
      transition: 200ms ease-out;
    }
    a:hover{
      background-color: #EFEFEF
    }
    .MainNewsCardBody{
      padding: 12px;
      padding-bottom: 24px;
      background-color: #fff;
    }

  }
  .MainNewsItem:last-child{
    margin-right: 0;
  }
}