@import 'unit';
@import '../../public/fonts/font.css';

:root {
  --primary-color: #51267d;
  --secondary-color: #fdc100;
  --text-color: #696969;
  --inter: Inter
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--inter);
  background: none !important;
}

header {

}

#nprogress .bar, #nprogress .spinner {
  z-index: 1000001 !important;
}

.globalServiceMainContainer header {
  position: unset !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none !important;
}

.show > .btn-primary.dropdown-toggle {
  background: none;
  border: none;
  color: #00040A;
}

.btn-primary:focus {
  box-shadow: none !important;
  background: none !important;
  color: #00040A;
}

.MuiTabs-flexContainer {
  padding: 4px;
  border: 1px solid #EDEDED;
  border-radius: 8px;
  width: max-content;
}

#simple-tab-0 {
  background: #fff;
  padding: 10px 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #00040A;
  text-transform: capitalize;
  border-radius: 6px;
  min-height: auto;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #EDEDED;
  }
}

#simple-tab-0.Mui-selected {
  background: #C32C31;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  min-height: auto;
}

#simple-tab-1 {
  background: #fff;
  padding: 10px 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #00040A;
  text-transform: capitalize;
  border-radius: 6px;
  min-height: auto;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-right: 1px solid #EDEDED;
  }
}

.MainCarousel_maincarousel__XOklx, .ServicesHeader_navbarContainer__anicD, .Doctors_DoctorsHeader__iLO_4 {
  #simple-tab-1 {
    &::before {
      border-right: none;
    }
  }
}

#simple-tab-1.Mui-selected {
  background: #C32C31;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  min-height: auto;
}

#simple-tab-2 {
  background: #fff;
  padding: 10px 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #00040A;
  text-transform: capitalize;
  border-radius: 6px;
  min-height: auto;
}

#simple-tab-2.Mui-selected {
  background: #C32C31;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #fff;
  min-height: auto;
}

.css-1gsv261 {
  border: none !important;
}

.MuiTabs-indicator {
  display: none;
}

.swiper-wrapper {
  padding: 50px 0;
}

.swiper-button-next, .swiper-button-prev {
  color: #00040A !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 15px !important;
  font-weight: bold;
}

.swiper-button-prev {
  left: -7px !important;
}

.swiper-button-next {
  right: -7px !important;
}

.css-19kzrtu {
  padding: 0 !important;
}

.MainCarousel_swiperslide__sEt7z.swiper-slide-prev {
  box-shadow: none !important;
}

.swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {
  box-shadow: none !important;
}

.gap-24 {
  gap: 24px;
}

.gap-12 {
  gap: 12px;
}

.flex-1 {
  flex: 1;
}

.serviceinfolilink.active {
  a {
    color: #C32C31 !important;
    border-bottom: 2px solid #C32C31;
  }
}

.price-container a.active {
  background-color: #C32C31 !important;
  color: #fff !important;
  border-radius: 8px;

  img {
    filter: invert(1);
  }
}

.nav-link.active {
  background-color: #C32C31 !important;
  color: #fff !important;
  border-radius: 8px;

  img {
    filter: invert(1);
  }
}

.myaccStyleMenu img {
  filter: invert(1) !important;
}

.myaccStyleMenu.active img {
  filter: none !important;
}

.carousel-caption {
  position: absolute;
  right: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #fff;
  text-align: center;
  height: 100%;
  background: url("../../public/images/Rectangle 11654.svg") no-repeat left / 70%;
  padding: 24px;
}

.carousel.slide {
  border-radius: 16px;
  overflow: hidden;
}

.carousel-control-prev, .carousel-control-next {
  width: 40px;
  height: 40px;
  top: auto !important;
  bottom: 24px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.04);
  opacity: 1;
  transition: 150ms ease-out;
}

.carousel-control-prev {
  left: 24px;

  .carousel-control-prev-icon {
    background-image: url("../../public/images/left.svg");
    width: 9px;
  }

  &:hover .carousel-control-prev-icon {
    background-image: url("../../public/images/leftwhite.svg");
  }
}

.carousel-control-next {
  left: 140px;

  .carousel-control-next-icon {
    background-image: url("../../public/images/right.svg");
    width: 9px;
  }

  &:hover .carousel-control-next-icon {
    background-image: url("../../public/images/rightwhite.svg");
  }
}

.carousel-control-prev:hover, .carousel-control-next:hover {
  background: #B5272B;
}

.carousel-indicators {
  position: absolute;
  right: auto;
  bottom: 41px;
  left: 72px;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel-indicators [data-bs-target] {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #C32C31;
  opacity: 0.24;
  border: 0;
}

.carousel-indicators [data-bs-target].active {
  width: 14px;
  height: 6px;
  background-color: #C32C31;
  border-radius: 50px;
  opacity: 1;
}

.navbar-nav.nav-pills .nav-item:last-child a {
  margin-bottom: 0;
}

.modal-backdrop {
  z-index: 4984984 !important;
  background: #00040ABF;
}

.modal-backdrop.show {
  opacity: 1;
}

.modal {
  z-index: 4984985;
}

.modal-content {
  border-radius: 8px;
}

.modal-header {
  border: 0;
}

.btn-close {
  width: 10px;
  height: 10px;
}

.modal-dialog.modal-lg.modal-dialog-centered {
  width: 480px !important;
}

.modal-body {
  padding: 0 24px 24px 24px;

  h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #00040A;
    margin-bottom: 12px;
  }

  p {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #66686c;
    margin-bottom: 16px;
  }

  div {
    margin-bottom: 24px;

    label {
      font-family: Inter;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: center;
      color: #00040A;
      margin-bottom: 4px;
    }

    input {
      border: 1px solid #E6E6E6;
      border-radius: 8px;
      padding: 12px;
      display: block;
      width: 100%;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;

      &:focus-visible {
        border: 0;
      }

      &:focus {
        border: 1px solid #E6E6E6;
        box-shadow: none;
        outline: none;
      }

      &::placeholder {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        color: #66686C;
      }
    }
  }

  button {
    background-color: #C32C31;
    border-radius: 8px;
    padding: 12px 16px;
    border: 0;
    width: 100%;

    &:hover {
      background-color: #B5272B;
    }

    &:focus {
      background-color: #B5272B !important;
      color: #fff;
    }
  }
}

.card {
  border-radius: 8px;
  border: 0;
  margin-bottom: 24px;

  .card-body {
    padding: 12px;

    .card-text {
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      color: #00040A;
    }
  }
}

.mb-24 {
  margin-bottom: 24px;
}

.mr-8 {
  margin-right: 8px;
}

.flexonetoone {
  flex: 1 1;
  max-width: 437px;
  min-width: 48%;

  label {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #00040A;
  }

  input {
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    //styleName: Title/Default 3;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    padding: 12px;

    &:focus {
      color: #00040A;
      background-color: #fff;
      border: 1px solid #E6E6E6;
      outline: 0;
      box-shadow: none;
    }
  }
}

.myaccStyleMenu {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff !important;
  border-radius: 8px;
}

.myvisitlineitem {
  padding: 16px;
  border-top: 1px solid #00040A1A;

  .imgcontainer {
    width: 68px;
    height: 72px;
    background: #F9F9F9;
    border-radius: 8px;
    padding: 8px;

    img {
      width: 100%;
    }
  }

  p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #00040A;
    margin-bottom: 4px;
  }

  span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #323232;
  }

  button {
    background: #D294041A;
    border: 0;
    border-radius: 8px;
    padding: 8px 13px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #D29404;
  }
}

.mr-8 {
  margin-right: 8px;
}

.myresult {
  background: #fff;
  box-shadow: 0px 0px 45px 0px #0000000D;
  border-radius: 8px;
}

.myresultitem {
  padding: 16px;
  border-top: 1px solid #00040A1A;

  .imgcontainer {
    width: 30px;
    height: 40px;

    img {
      width: 100%;
    }
  }

  p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #00040A;
    margin-bottom: 4px;
  }

  span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #323232;
  }

  button {
    background: #F2F2F3;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
    border: 0;
    margin-left: 16px;
    border-radius: 9px;
    padding: 11px 12px;
  }
}

.mr-12 {
  margin-right: 12px;
}

.ml-10 {
  margin-left: 10px;
}

.card.profile {
  .card {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  input {
    display: none;
  }

  p {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #1BBC9B;
  }

  .label {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: .5rem;
    right: 0;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 45px 0px #0000004D;
  }

  .svg {
    width: 30px;
    height: 30px;
  }

  .img {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    box-shadow: 0 0 5px #444;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .avatar {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.myvisitline, .myresult {
  .MuiTabs-flexContainer {
    border: none;
    padding: 0;
    //border-bottom: 1px solid #EDEDED;
  }

  #simple-tab-0::before {
    display: none;
  }

  #simple-tab-1::before {
    display: none;
  }

  #simple-tab-2::before {
    display: none;
  }

  #simple-tab-0, #simple-tab-1, #simple-tab-2 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: #00040A;
    text-transform: none;
    border-radius: 0;
    padding: 19px 16px;
  }

  #simple-tab-0.Mui-selected, #simple-tab-1.Mui-selected, #simple-tab-2.Mui-selected {
    background: #fff;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: center;
    color: #C32C31;
    border-bottom: 2px solid #C32C31;
  }
}

.myaccountForH3 {
  h3 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #00040A;
  }
}

.borderbottomforheader {
  border-bottom: 1px solid #EDEDED
}

.p-12-24 {
  padding: 12px 24px;
}

.OrderFromDoctorsSlider .swiper-wrapper {
  padding: 0;

  .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide {
    margin-left: 20px;
  }
}

.OrderFromDoctorsSlider .swiper-initialized {
  padding: 0 20px;
}

.OrderFromDoctorsSlider .swiper-wrapper .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide {
  margin-left: 0px;
}

@media (max-width: 600px) {
  .carousel-indicators {
    left: 12px;
    bottom: 12px;
  }
}

@media (max-width: 700px) {
  .swiper-button-prev, .swiper-button-next {
    display: none !important;
  }
  .MuiTabs-flexContainer {
    padding: 2px;
  }
  #simple-tab-0, #simple-tab-1, #simple-tab-2 {
    padding: 8px 12px;
  }
  .serviceinfolilink a {
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 18px !important;
  }
  .ServiceInfoGeneral {
    .col-6 {
      width: 100% !important;
    }
  }
}

.fullScreenModal {
  .modal-dialog {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
  }

  .modal-content {
    height: 100%;
  }
}

.hamburgerMenu {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.mobileHeaderRight {
  display: flex;

  button:first-child {
    margin-right: 28px;
  }
}

.fullScreenModal {
  .modal-body {
    padding: 0 16px;
  }

  .modal-footer {
    padding: 0 16px 16px 16px;
    border: 0;
  }

  .mobileHeaderBottom {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;

    a {
      padding: 15px 0;

      &:first-child {
        background: #F2F2F3;
        border-radius: 8px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: center;
        color: #00040A;
        margin-bottom: 12px;
      }

      &:last-child {
        background: #C32C31;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: center;
        border-radius: 8px;
        color: #fff;
      }
    }
  }
}

@media (max-width: 330px) {
  .mobileHeaderRight button:first-child {
    margin-right: 15px;
  }
}

@media (max-width: 820px) {
  .footer-logo {
    display: none;
  }
  .footer-menu {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .footer-menu {
    flex-direction: column;
  }
  .swiper-wrapper {
    padding: 10px 0;
  }
}

.MobileAdressModalContainer {
  .modal-body {
    padding: 0;
  }

  .modal-body div {
    margin-bottom: 0;
  }

  .modal-dialog {
    height: 100vh;
    margin: 0;
    max-width: 100%;
  }

  .btn-close {
    opacity: 1;
    margin: 0;
  }

  .modal-header {
    position: absolute;
    z-index: 2;
    background: #fff;
    border-radius: 50%;
    right: 16px;
    top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    padding: 0;
  }

  .modal-content {
    height: 100%;
  }
}

.MobileMainAdressModalShow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .MainAdressMenu {
    background-color: #fff;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    width: 100%;
    height: 40%;

    .MainAdressMenuItems {
      padding: 16px;

      .MainAdressMenuItem {
        padding: 0;
        border-radius: 8px;
        background-color: #F9F9F9;
        margin-bottom: 16px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &.active {
          background-color: #C32C31 !important;
        }

        .active {
          background-color: #C32C31 !important;
          color: #fff !important;
        }

        .leftSide {
          padding: 10px 16px;
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          background-color: #F9F9F9;
          height: 100%;
        }

        .rightSide {
          padding: 15px 16px;
          font-family: Inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
          color: #00040A;
          background-color: #F9F9F9;
          text-transform: none;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;;
        }

        &:hover .rightSide {
          background-color: #F2F2F3;
          color: #00040A;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .MobileMainAdressShowModal {
    font-family: Inter;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 16px !important;
  }
  .spanchik {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
  }
}

.rss-backdrop {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  background: #fff;
}

.fixedBtnBody {
  padding: 16px;

  div {
    margin-bottom: 24px;

    label {
      font-family: Inter;
      font-size: 12px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
      color: #00040A;
      margin-bottom: 4px;
    }

    input {
      border: 1px solid #E6E6E6;
      border-radius: 8px;
      padding: 11px 12px;
      display: block;
      width: 100%;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;

      &:focus-visible {
        border: 0;
      }

      &:focus {
        border: 1px solid #E6E6E6;
        box-shadow: none;
      }

      &::placeholder {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        color: #66686C;
      }
    }
  }

  button {
    background-color: #C32C31;
    border-radius: 8px;
    padding: 12px 16px;
    border: 0;
    width: 100%;

    &:hover {
      background-color: #B5272B;
    }

    &:focus {
      background-color: #B5272B !important;
      color: #fff;
    }
  }
}

._xlcmb {
  display: none;
}

._QLjfS {
  margin-top: 60px;
  background: #fff;
}

._7vsRM {
  background: #fff;
}

._8eLsd {
  z-index: 100;
}

@media (max-width: 800px) {
  .serviceMobileHeader {
    flex-direction: column;
    padding-bottom: 70px;
  }
}

.ServiceInfoMainDoctorsMobile {
  .swiper-slide {
    background: #fff;
    border-radius: 5px;
  }

  .swiper-wrapper {
    padding: 0;
  }
}

.globalHeader.fixed {
  position: sticky;
  top: 0;
  z-index: 100000;
  width: 100%;
}

._eog8P._KVwkC {
  background-color: #00040A !important;
  opacity: 0.75 !important;
  transition: 150ms linear !important;
}

._lVbPX._BFrBz {
  transition: 150ms ease-out !important;
}

@media (max-width: 1200px) {
  .DoctorsInfoLeftContainer {
    width: 100% !important;
  }

  .DoctorsInfoRightContainer {
    display: none;
  }
}

.mainspecialistswiper .swiper-slideBack {
  background-color: #fff;
  border-radius: 8px;
}

@media (max-width: 900px) {
  .MainFeedbackItems .swiper-slide {
    display: flex;
    justify-content: center;
  }
}

.otpNumberLogin {
  p {
    button {
      background-color: #fff;
      border-radius: 8px;
      padding: 0;
      border: 0;
      width: max-content !important;
      color: #C32C31;
      transition: 150ms ease-out;

      &:hover {
        background-color: #fff;
        color: #B5272B;
      }

      &:focus {
        background-color: #fff !important;
        color: #B5272B;
      }
    }
  }

  div {
    justify-content: space-between;
  }
}

.werthyj {
  input {
    width: 75px !important;
    height: 75px !important;
    font-family: Inter;
    font-size: 24px !important;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

    &:active, &:focus {
      outline: 1px solid #C32C31;
      background-color: #ffffff;
      color: #C32C31;
    }

    &:disabled {
      border: 1px solid #C32C31;
      border-radius: 0px;
      background-color: #F9FAFB;
    }
  }
}

.authModal {
  input {
    height: 42px;
  }

  select {
    height: 42px;
    border: 1px solid #E6E6E6;
    border-radius: 8px;

    &:focus {
      border: 1px solid #E6E6E6;
      box-shadow: none;
    }
  }
}

.myvisitsquare {
  border-radius: 8px;
  overflow: hidden;
}

.videoFeedback {
  .modal-dialog.modal-lg.modal-dialog-centered {
    width: 100% !important;
  }

  div {
    margin-bottom: 0 !important;
  }
}

.MainPartnersItems {
  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #C32C310D;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: #C32C31;
  border-radius: 4px;
}

.css-15v22id-MuiAccordionDetails-root {
  padding: 0 !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: 0px 0px 45px 0px #00000012 !important;
  border-radius: 8px !important;
  overflow: hidden;
  margin-bottom: 16px;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  height: 60px;
}

.fieldError {
  color: #C32C31;
}

.MainSpecialistsItemsForMobile {
  .swiper {
    width: 100%;
  }
}

.waefsrgdt {
  position: absolute;
  height: 100%;

  .maincarouselimage {
    object-fit: cover;
    height: 100% !important;
  }
}

.carousel-item {
  max-height: 536px;
  min-height: 536px;
}

@media (max-width: 1400px) {
  .carousel-item{
    max-height: 460px;
    min-height: 460px;
  }
}

@media (max-width: 1200px) {
  .carousel-item{
    max-height: 384px;
    min-height: 384px;
  }
}

@media (max-width: 500px) {
  .carousel-item{
    max-height: none;
    min-height: 230px;
  }
}

.numberAuth{
  display: none !important;
}

.spinner-border{
  margin-bottom: 0 !important;
}

.react-simple-image-viewer__modal{
  z-index: 999999999 !important;
}


.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
  border-color: #ccc;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 6px;
  width: 9px;
}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
  margin-left: -4px;
  position: absolute;
  width: 0;
}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  box-sizing: content-box;
  position: absolute;
  border: 8px solid transparent;
  height: 0;
  width: 1px;
  content: "";
  z-index: -1;
  border-width: 8px;
  left: -8px;
}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
  border-bottom-color: #aeaeae;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle {
  top: 0;
  margin-top: -8px;
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  border-top: none;
  border-bottom-color: #f0f0f0;
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  top: 0;
}
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #aeaeae;
}



.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle {
  bottom: 0;
  margin-bottom: -8px;
}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after {
  border-bottom: none;
  border-top-color: #fff;
}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::after {
  bottom: 0;
}
.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before {
  bottom: -1px;
  border-top-color: #aeaeae;
}

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
  width: 100%;
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}

.react-datepicker--time-only .react-datepicker__triangle {
  left: 35px;
}
.react-datepicker--time-only .react-datepicker__time-container {
  border-left: 0;
}
.react-datepicker--time-only .react-datepicker__time,
.react-datepicker--time-only .react-datepicker__time-box {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.react-datepicker__triangle {
  position: absolute;
  left: 50px;
}

.react-datepicker-popper {
  z-index: 1;
}
.react-datepicker-popper[data-placement^=bottom] {
  padding-top: 10px;
}
.react-datepicker-popper[data-placement=bottom-end] .react-datepicker__triangle, .react-datepicker-popper[data-placement=top-end] .react-datepicker__triangle {
  left: auto;
  right: 50px;
}
.react-datepicker-popper[data-placement^=top] {
  padding-bottom: 10px;
}
.react-datepicker-popper[data-placement^=right] {
  padding-left: 8px;
}
.react-datepicker-popper[data-placement^=right] .react-datepicker__triangle {
  left: auto;
  right: 42px;
}
.react-datepicker-popper[data-placement^=left] {
  padding-right: 8px;
}
.react-datepicker-popper[data-placement^=left] .react-datepicker__triangle {
  left: 42px;
  right: auto;
}

.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}
.react-datepicker__header--time {
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
}
.react-datepicker__header--time:not(.react-datepicker__header--time--only) {
  border-top-left-radius: 0;
}
.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 0.3rem;
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__month-year-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll,
.react-datepicker__month-year-dropdown-container--scroll {
  display: inline-block;
  margin: 0 2px;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem;
}

.react-datepicker-time__header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.react-datepicker__navigation {
  align-items: center;
  background: none;
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 2px;
  padding: 0;
  border: none;
  z-index: 1;
  height: 32px;
  width: 32px;
  text-indent: -999em;
  overflow: hidden;
}
.react-datepicker__navigation--previous {
  left: 2px;
}
.react-datepicker__navigation--next {
  right: 2px;
}
.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 85px;
}
.react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker__navigation--years-previous {
  top: 4px;
}
.react-datepicker__navigation--years-upcoming {
  top: -4px;
}
.react-datepicker__navigation:hover *::before {
  border-color: #a6a6a6;
}

.react-datepicker__navigation-icon {
  position: relative;
  top: -1px;
  font-size: 20px;
  width: 0;
}
.react-datepicker__navigation-icon--next {
  left: -2px;
}
.react-datepicker__navigation-icon--next::before {
  transform: rotate(45deg);
  left: -7px;
}
.react-datepicker__navigation-icon--previous {
  right: -2px;
}
.react-datepicker__navigation-icon--previous::before {
  transform: rotate(225deg);
  right: -7px;
}

.react-datepicker__month-container {
  float: left;
}

.react-datepicker__year {
  margin: 0.4rem;
  text-align: center;
}
.react-datepicker__year-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
}
.react-datepicker__year .react-datepicker__year-text {
  display: inline-block;
  width: 4rem;
  margin: 2px;
}

.react-datepicker__month {
  margin: 0.4rem;
  text-align: center;
}
.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  display: inline-block;
  width: 4rem;
  margin: 2px;
}

.react-datepicker__input-time-container {
  clear: both;
  width: 100%;
  float: left;
  margin: 5px 0 10px 15px;
  text-align: left;
}
.react-datepicker__input-time-container .react-datepicker-time__caption {
  display: inline-block;
}
.react-datepicker__input-time-container .react-datepicker-time__input-container {
  display: inline-block;
}
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input {
  display: inline-block;
  margin-left: 10px;
}
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input {
  width: auto;
}
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type=time]::-webkit-inner-spin-button,
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type=time]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type=time] {
  -moz-appearance: textfield;
}
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__delimiter {
  margin-left: 5px;
  display: inline-block;
}

.react-datepicker__time-container {
  float: right;
  border-left: 1px solid #aeaeae;
  width: 85px;
}
.react-datepicker__time-container--with-today-button {
  display: inline;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  position: absolute;
  right: -72px;
  top: 0;
}
.react-datepicker__time-container .react-datepicker__time {
  position: relative;
  background: white;
  border-bottom-right-radius: 0.3rem;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 85px;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  border-bottom-right-radius: 0.3rem;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  list-style: none;
  margin: 0;
  height: calc(195px + (1.7rem / 2));
  overflow-y: scroll;
  padding-right: 0;
  padding-left: 0;
  width: 100%;
  box-sizing: content-box;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  height: 30px;
  padding: 5px 10px;
  white-space: nowrap;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: #216ba5;
  color: white;
  font-weight: bold;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
  background-color: #216ba5;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
  color: #ccc;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled:hover {
  cursor: default;
  background-color: transparent;
}

.react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}
.react-datepicker__week-number.react-datepicker__week-number--clickable {
  cursor: pointer;
}
.react-datepicker__week-number.react-datepicker__week-number--clickable:hover {
  border-radius: 0.3rem;
  background-color: #f0f0f0;
}

.react-datepicker__day-names,
.react-datepicker__week {
  white-space: nowrap;
}

.react-datepicker__day-names {
  margin-bottom: -8px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}

.react-datepicker__month--selected, .react-datepicker__month--in-selecting-range, .react-datepicker__month--in-range,
.react-datepicker__quarter--selected,
.react-datepicker__quarter--in-selecting-range,
.react-datepicker__quarter--in-range {
  border-radius: 0.3rem;
  background-color: #216ba5;
  color: #fff;
}
.react-datepicker__month--selected:hover, .react-datepicker__month--in-selecting-range:hover, .react-datepicker__month--in-range:hover,
.react-datepicker__quarter--selected:hover,
.react-datepicker__quarter--in-selecting-range:hover,
.react-datepicker__quarter--in-range:hover {
  background-color: #1d5d90;
}
.react-datepicker__month--disabled,
.react-datepicker__quarter--disabled {
  color: #ccc;
  pointer-events: none;
}
.react-datepicker__month--disabled:hover,
.react-datepicker__quarter--disabled:hover {
  cursor: default;
  background-color: transparent;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  cursor: pointer;
}
.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: #f0f0f0;
}
.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
  font-weight: bold;
}
.react-datepicker__day--highlighted,
.react-datepicker__month-text--highlighted,
.react-datepicker__quarter-text--highlighted,
.react-datepicker__year-text--highlighted {
  border-radius: 0.3rem;
  background-color: #3dcc4a;
  color: #fff;
}
.react-datepicker__day--highlighted:hover,
.react-datepicker__month-text--highlighted:hover,
.react-datepicker__quarter-text--highlighted:hover,
.react-datepicker__year-text--highlighted:hover {
  background-color: #32be3f;
}
.react-datepicker__day--highlighted-custom-1,
.react-datepicker__month-text--highlighted-custom-1,
.react-datepicker__quarter-text--highlighted-custom-1,
.react-datepicker__year-text--highlighted-custom-1 {
  color: magenta;
}
.react-datepicker__day--highlighted-custom-2,
.react-datepicker__month-text--highlighted-custom-2,
.react-datepicker__quarter-text--highlighted-custom-2,
.react-datepicker__year-text--highlighted-custom-2 {
  color: green;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 0.3rem;
  background-color: #216ba5;
  color: #fff;
}
.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: #1d5d90;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #2579ba;
  color: #fff;
}
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: #1d5d90;
}
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range),
.react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--in-range) {
  background-color: rgba(33, 107, 165, 0.5);
}
.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__month-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__quarter-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range),
.react-datepicker__month--selecting-range .react-datepicker__year-text--in-range:not(.react-datepicker__day--in-selecting-range,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__year-text--in-selecting-range) {
  background-color: #f0f0f0;
  color: #000;
}
.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled,
.react-datepicker__year-text--disabled {
  cursor: default;
  color: #ccc;
}
.react-datepicker__day--disabled:hover,
.react-datepicker__month-text--disabled:hover,
.react-datepicker__quarter-text--disabled:hover,
.react-datepicker__year-text--disabled:hover {
  background-color: transparent;
}

.react-datepicker__month-text.react-datepicker__month--selected:hover, .react-datepicker__month-text.react-datepicker__month--in-range:hover, .react-datepicker__month-text.react-datepicker__quarter--selected:hover, .react-datepicker__month-text.react-datepicker__quarter--in-range:hover,
.react-datepicker__quarter-text.react-datepicker__month--selected:hover,
.react-datepicker__quarter-text.react-datepicker__month--in-range:hover,
.react-datepicker__quarter-text.react-datepicker__quarter--selected:hover,
.react-datepicker__quarter-text.react-datepicker__quarter--in-range:hover {
  background-color: #216ba5;
}
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover {
  background-color: #f0f0f0;
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view,
.react-datepicker__month-year-read-view {
  border: 1px solid transparent;
  border-radius: 0.3rem;
  position: relative;
}
.react-datepicker__year-read-view:hover,
.react-datepicker__month-read-view:hover,
.react-datepicker__month-year-read-view:hover {
  cursor: pointer;
}
.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover .react-datepicker__month-read-view--down-arrow {
  border-top-color: #b3b3b3;
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  transform: rotate(135deg);
  right: -16px;
  top: 0;
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 30px;
  z-index: 1;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid #aeaeae;
}
.react-datepicker__year-dropdown:hover,
.react-datepicker__month-dropdown:hover,
.react-datepicker__month-year-dropdown:hover {
  cursor: pointer;
}
.react-datepicker__year-dropdown--scrollable,
.react-datepicker__month-dropdown--scrollable,
.react-datepicker__month-year-dropdown--scrollable {
  height: 150px;
  overflow-y: scroll;
}

.react-datepicker__year-option,
.react-datepicker__month-option,
.react-datepicker__month-year-option {
  line-height: 20px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.react-datepicker__year-option:first-of-type,
.react-datepicker__month-option:first-of-type,
.react-datepicker__month-year-option:first-of-type {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}
.react-datepicker__year-option:last-of-type,
.react-datepicker__month-option:last-of-type,
.react-datepicker__month-year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.react-datepicker__year-option:hover,
.react-datepicker__month-option:hover,
.react-datepicker__month-year-option:hover {
  background-color: #ccc;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b3b3;
}
.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b3b3;
}
.react-datepicker__year-option--selected,
.react-datepicker__month-option--selected,
.react-datepicker__month-year-option--selected {
  position: absolute;
  left: 15px;
}

.react-datepicker__close-icon {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0 6px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.react-datepicker__close-icon::after {
  cursor: pointer;
  background-color: #216ba5;
  color: #fff;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  padding: 2px;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  content: "×";
}

.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 5px 0;
  clear: left;
}

.react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2147483647;
}
.react-datepicker__portal .react-datepicker__day-name,
.react-datepicker__portal .react-datepicker__day,
.react-datepicker__portal .react-datepicker__time-name {
  width: 3rem;
  line-height: 3rem;
}
@media (max-width: 400px), (max-height: 550px) {
  .react-datepicker__portal .react-datepicker__day-name,
.react-datepicker__portal .react-datepicker__day,
.react-datepicker__portal .react-datepicker__time-name {
    width: 2rem;
    line-height: 2rem;
  }
}
.react-datepicker__portal .react-datepicker__current-month,
.react-datepicker__portal .react-datepicker-time__header {
  font-size: 1.44rem;
}









// CUSTOM STYLES 

.react-datepicker-popper {
  z-index: 2;
}

.react-datepicker {
  padding: 12px;
  font-size: 12px !important;
  border-radius: 6px;
  border: none !important;
  box-shadow: 0px 0px 1px rgba(26, 32, 36, 0.32), 0px 12px 24px rgba(91, 104, 113, 0.24);

}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;

  input {
    width: 200px;
    font-size: 13px;
    line-height: 17px;
    padding: 8px 14px;
    border: 1px solid #E5E9EB;
    border-radius: 6px;
    outline-color: red;
  }

}

.react-datepicker__header  {
  background-color: #fff !important;
}

.react-datepicker__current-month {
  font-size: 13px !important;
}


.react-datepicker__day {
  margin: 0px !important;
  width: 32px !important;
  height: 32px !important;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}

.react-datepicker__day--in-range {
  background-color: #D7EDFF !important;
  color: #000 !important;
}

.react-datepicker__day--range-end {
  background-color: red !important;
  color: #fff !important;
  border-radius: 0px 6px 6px 0px;
}

.react-datepicker__day--range-start {
  background-color: red !important;
  color: #fff !important;
  border-radius: 6px 0px 0px 6px;
}


.react-datepicker__day--in-selecting-range {
  background-color: #D7EDFF !important;
  color: #000 !important;
}

.react-datepicker__day--selecting-range-start {
  background-color: red !important;
  color: #fff !important;
  border-radius: 6px 0px 0px 6px !important;
}

.react-datepicker__day--selecting-range-end {
  background-color: red !important;
  color: #fff !important;
  border-radius: 0px 6px 6px 0px;
}

.react-datepicker__day--selected {
  background-color: red !important;
  color: #fff !important;
  border-radius: 6px;
}

.react-datepicker__day-name {
  margin: 6px !important;
}

.react-datepicker__navigation {
  top: 10px;
}

.react-datepicker__day--outside-month {
  color: silver;
}

.css-1gsv261{
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}

.datesOrderMain.active{
  background-color: #C32C31 !important;
  border-radius: 5px;
  span, p{
    color: #fff !important;
  }
}

.TimeBtn.active{
  background-color: #C32C31;
  color: #fff;
}

.fourthStepAdress{
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  text-overflow: ellipsis; /* Добавляем многоточие */
  height: max-content;
}