.mainAbout{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 0 48px 0;
  .mainAboutLogo{
    width: 76px;
    height: 76px;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.07);
    border-radius: 12.6667px;
    background: #fff;
    padding: 13px;
    position: relative;
    top: -35px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .mainAboutInfo p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #00040A;
    margin-bottom: 32px;
  }
  .mainAboutItem{
    padding: 24px;
    background: #fff;
    width: 294px;
    margin-right: 24px;
    box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    span{
      font-size: 32px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.006em;
      text-align: left;
      color: #C32C31;
      margin-bottom: 16px !important;
    }
    p{
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #00040A;
      margin: 0;
      margin-top: 16px;
    }
  }
  .mainAboutItems{
    display: flex;

  }
}

@media (max-width: 800px) {
  .mainAboutItems{
    flex-direction: column;
    .mainAboutItem{
      width: 100%;
      margin-bottom: 8px;
    }
  }
}

@media (max-width: 700px) {
  .mainAboutInfo{
    p{
      font-family: Inter;
      font-size: 14px !important;
    }
  }
  .mainAboutItem{
    padding: 16px !important;
    margin-right: 0 !important;
    span{
      font-family: Inter;
      font-size: 20px !important;
      font-weight: 600;
      line-height: 24px !important;
      letter-spacing: -0.006em !important;
      text-align: left;
    }
    p{
      font-family: Inter;
      font-size: 14px !important;
      font-weight: 400 !important;
      line-height: 20px !important;
      letter-spacing: 0em !important;
      text-align: left;
    }
  }
}