.MainSpecialists{
  background-color: #F9F9F9;
  padding: 64px 0;
  .MainSpecialistsHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    .MainSpecialistsAll{
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0px;
      text-align: left;
      color: #00040A;
      transition: 150ms ease-out;
      &:hover{
        color: #C32C31;
      }
      svg{
        font-size: 16px;
        margin-left: 12px;
      }
    }
    h3{
      font-size: 32px;
      font-weight: 600;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: left;
      color: #00040A;
    }
  }
  .MainSpecialistsItems{
    display: flex;
    justify-content: space-between;
    .MainSpecialistsItem{
      background-color: #FFFFFF;
      border-radius: 8px;
      width: 100%;
      transition: 150ms ease-out;
      .MainSpecialistsItemInfo{
        padding: 16px;
        border-radius: 8px;
        transition: 150ms ease-out;
      }
      &:hover .MainSpecialistsItemInfo{
        background-color: #B5272B !important;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
      }
      &:hover p:first-child{
        color: #fff !important;
      }
      &:hover p:nth-child(2){
        color: #fff !important;
      }
      &:hover p:nth-child(3){
        color: #fff !important;
      }
      &:hover{
        background-color: #EFEFEF;
      }
      img{
        width: 100%;
      }
      p:first-child{
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        color: #00040A;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      p:nth-child(2){
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #323232;
        margin: 8px 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      p:nth-child(3){
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        color: #323232;
        margin: 0;
      }
    }
    .MainSpecialistsItem:nth-child(1), .MainSpecialistsItem:nth-child(2), .MainSpecialistsItem:nth-child(3){
      margin-right: 24px;
    }

  }
  .MainSpecialistsFooter{
    color: #fff;
    background-color: #C32C31;
    text-transform: none;
    padding: 15px 25px;
    border-radius: 8px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
  }
  .MainSpecialistsFooter:hover{
    background-color: #B5272B;
    color: #fff;
  }
}

@media (max-width: 1200px) {
  .MainSpecialistsItems{
    flex-wrap: wrap;
    .MainSpecialistsItem{
      margin: 0 !important;
      margin-bottom: 24px !important;
      width: 48% !important;
    }
  }
}
@media (max-width: 700px) {
  .MainSpecialistsHeader{
    h3{
      font-size: 18px !important;
    }
    a{
      font-size: 14px !important;
      svg{
        height: 14px;
        margin-left: 5px !important;
      }
    }
  }
  .MainSpecialistsItem{
    p:first-child{
      font-size: 12px !important;
      font-weight: 500 !important;
      line-height: 15px !important;
    }
    p:nth-child(2){
      font-size: 10px !important;
      font-weight: 400 !important;
      line-height: 13px !important;

    }
    p:nth-child(3){
      font-size: 10px !important;
      font-weight: 400 !important;
      line-height: 10px !important;
    }
  }

}