.MainService{
  padding: 64px 0;
  .MainServiceTitle{
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #0D0D0D;
    margin-bottom: 32px;
  }
  .firstRoll{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    .firstRollItemL{
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin-right: 24px;
      padding: 16px 16px 27px 16px;
      border-radius: 8px;
      width: 100%;
      h4{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #00040A;
        margin-bottom: 8px;
      }
      p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 38px;
        color: #323232;
      }
      a{
        background-color: #fff;
        padding: 12px;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;
        color: #00040A;
        border-radius: 8px;
        box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.07);
        transition: 200ms ease-out;
      }
      a:hover{
        background-color: #B5272B;
        color: #fff;
      }
    }

    .firstRollItemR{
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      padding: 16px 16px 27px 16px;
      border-radius: 8px;
      width: 100%;
      h4{
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #00040A;
        margin-bottom: 8px;
      }
      p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 38px;
        color: #323232;
      }
      a{
        background-color: #fff;
        padding: 12px;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0px;
        text-align: left;

        color: #00040A;
        border-radius: 8px;
        box-shadow: 0px 0px 45px rgba(0, 0, 0, 0.07);
        transition: 200ms ease-out;
      }
      a:hover{
        background-color: #B5272B;
        color: #fff;
      }
    }
  }

  .secondRoll{
    display: flex;
    justify-content: space-between;
    .secondRollItemL{
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin-right: 24px;
      padding: 16px;
      border-radius: 8px;
      width: 100%;
      height: 156px;
      h4{
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #00040A;
        margin-bottom: 8px;
      }
      p{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #323232;
      }
    }

    .secondRollItemM{
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      margin-right: 24px;
      padding: 16px;
      border-radius: 8px;
      width: 100%;
      height: 156px;
      h4{
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #00040A;
        margin-bottom: 8px;
      }
      p{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #323232;
      }
    }

    .secondRollItemR{
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      padding: 16px;
      border-radius: 8px;
      width: 100%;
      height: 156px;
      h4{
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #00040A;
        margin-bottom: 8px;
      }
      p{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #323232;
      }
    }
  }
}

@media (max-width: 800px) {
  .secondRoll{
    flex-direction: column;
    .secondRollItemL{
      margin-bottom: 16px;
      margin-right: 0 !important;
    }
    .secondRollItemM{
      margin-bottom: 16px;
      margin-right: 0 !important;
    }
  }
  .firstRoll{
    flex-direction: column;
    margin-bottom: 16px !important;
    .firstRollItemL{
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 700px) {
  .MainServiceTitle{
    font-family: Inter;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
    letter-spacing: 0px;
    text-align: center;
  }
  .firstRollItemL h4, .firstRollItemR h4, .secondRollItemL h4, .secondRollItemM h4, .secondRollItemR h4{
    font-family: Inter;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
  }
  .firstRollItemL p, .firstRollItemR p, .secondRollItemL p, .secondRollItemM p, .secondRollItemR p{
    font-family: Inter;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
  }
  .firstRollItemL a, .firstRollItemR a{
    padding: 10px 12px !important;
    font-family: Inter;
    font-size: 12px !important;
    font-weight: 500 !important;
    line-height: 14px !important;
    letter-spacing: 0px;
    text-align: left;
  }
}